@layout-header-padding: 0 20px;
@layout-footer-padding: 16px 50px;
@text: hsla(0,0%,100%,.6);
.ant-card{
    .ant-card-head{
        border: 0;
        color: @white;
        padding: 0 24px;
    }
    &.ant-card-bordered{
        border: 0;
    }
    .ant-card-body{
        padding: 0 24px 24px 24px;
    }
}

.ant-layout{
    position: relative;
    z-index: 2;
}

.ant-layout-sider{
    background-color: rgba(0, 0, 0,0.5);
}
.ant-table-tbody > tr > td{
    border: 0;
}

.ant-slider{
    &-rail{
        height: 2px;
    }
    &-track{
        height: 2px;
        background-color: @white;// #f5f5f5
        z-index: 2;
    }
    &-step{
        height: 2px;
    }
    &-handle{
        z-index: 2;
        margin-top: -4px;
    }
    .loaded{
        position: absolute;
        height: 2px;
        background-color: @progress-loaded; //55585F
        border-radius: 1px;
        transition: background-color 0.3s;
        top: 4px;
        width: 0;
        z-index: 0;
    }
}

