.category-search-dropdown {
    .title {
        color: @color-4;
        // padding: @margin-xss @margin-md @margin-xss @margin-sm;
        display: flex;
        align-items: center;
        height: 32px;
        font-size: 14px;
    }

    .history-title {
        display: flex;
        justify-content: space-between;

        .clear-history {
            color: @primary-color;
            border: 0;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            opacity: .9;
            transition: opacity .2s;
            padding: 0;

            &:hover {
                opacity: 1;
            }
        }
    }
    .history-item{
        display: flex;
        justify-content: space-between;
        span{
            .ellipsis();
        }
        .icon-delete{
            width: 32px;
            height: 32px;
            display: inline-block;
            text-align: center;
        }
    }
    .ant-select-item {
        height: 32px;
        padding: 0 16px 0 15px;
        line-height: 32px;
        .ellipsis();
    }
}


.ant-select-clear {
    color: @text-color;
}

.hot-search {
    color: @text-color;
    padding: @margin-xss @margin-md @margin-xss @margin-sm;

    i.icon-hot {
        color: @highlight-color;
        display: inline-table;
        margin: 0 @margin-xs;
    }
}



.search-item {
    display: flex;
    align-items: center;
    .search-result-num {
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        color: @color-7;
        border-radius: 2px;
        background-color: @color-1-2;
        margin-right: 10px;
        text-align: center;

        &.top {
            background-image: linear-gradient(233deg, #00d099, #00cc36);
        }
    }

    .id {
        color: @text-color-secondary-dark;
        font-size: @font-size-sm;
        margin-left: @margin-xs;
    }

    .content {
        color: @text-color-secondary-dark;
        font-size: @font-size-sm;
    }
}